.Cafe{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.Cafe-card{
    width: 32.3333%;
    margin-right: 5px;

}
.imagesContainer{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
}
.images {
    width: 400px
}